/*
    Document    : cinnamon.css
    Created on  : 2013-03-22
    Last Update :
    Author      : Thomas Park
    Licence     : MIT
*/

@font-face
{
  font-family: Cinnamon;
  src: url('cinnamon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face
{
  font-family: Invisible;
  src: url('invisible.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[data-cinnamon]
{
  position: relative;
  z-index: 1;
  display: inline-block;
}

.cinnamon
{
  position: absolute; top: 0; left: 0;
  z-index: -1;
  display: inline-block;
  height: 100%; width: 100%;
  font-family: Invisible;
  color: transparent;
}

@media all and (device-width: 768px) and (device-height: 1024px)
{
  .cinnamon
  {
    z-index: 1;
    opacity: 0.25;
  }
}
